* {
  text-align: center;
  margin: 0;
}

.App {
  background: #eeeeee;
}

.search-input {
  display: flex;
  height: 40px;
  width: 50%;
  margin: 20px auto 40px;
  background-color: #fffcec;
  border: 1px solid #dfdfdf;
  border-radius: 4px;
  font-size: 20px;
}

.cards-list {
  margin: 20px 50px;
  list-style: none;
  display: flex;
  flex-basis: 30%;
  flex-wrap: wrap;
}

.card {
  margin: 10px 20px;
  width: 200px;
  border: 1px solid #dfdfdf;
  display: flex;
  flex-direction: column;
  box-shadow: 3px solid silver;
}

.card:hover {
  cursor: pointer;
}

.card-fcontainer {
  width: 100%;
  background-color: #dfdfdf;
  align-self: center;
}

.card-image {
  width: 150px;
}

.card-image:hover {
  transform: scale(1.3);
}

.id-container {
  margin: 0;
  background-color: #d2ceca;
  width: 55px;
}

.card-details {
  height: 90px;
  background: white;
}

h2 {
  margin-top: 5px;
  text-transform: capitalize;
}

.types-list {
  margin: 0;
  padding: 0;
}

.types-list_item {
  list-style: none;
  display: inline-block;
  margin-left: 5px;
  border: 1px solid silver;
  padding: 3px;
  border-radius: 5px;
  text-transform: uppercase;
}
